    <legend>Conditions générales d'inscription et d'utilisation</legend>
    <p> Le site <a href="https://preins.iedparis8.net/">https://preins.iedparis8.net</a> est une application fournie par
        l’Institut d’Enseignement à Distance (IED) de l’Université Paris 8. Toute
        utilisation de cette application suppose que vous vous engagiez à
        respecter les présentes conditions.
    </p>
    <h5>
        <strong>1. DESCRIPTION DE L’APPLICATION</strong>
    </h5>
    <p>
        <strong>Cette application est exclusivement destinée aux utilisateurs,
            personnes physiques, souhaitant s’inscrire à une ou plusieurs formations universitaires à distance dispensée(s) par l’IED.
        </strong>
    </p>
    <p>
        Les demandes d’inscription en qualité d'étudiant s’effectuent EXCLUSIVEMENT en ligne sur la présente application.
        <strong>Aucun dossier d’inscription ne vous sera envoyé par courrier.</strong>
    </p>
    <p>
        Afin d'utiliser ce service, il vous appartient de vous assurer de la bonne compatibilité et de la bonne configuration
        de votre matériel et de vos logiciels avec cette application. A ce titre, nous vous recommandons l’utilisation
        d’un navigateur récent (nous recommandons d'utiliser une version récente et à jour de Mozilla Firefox).
        L’option « javascript » et la fonctionnalité des cookies doivent être activées.
    </p>
    <h5>Recommandations avant utilisation</h5>
    <p>Avant de commencer votre préinscription en ligne, nous vous conseillons de vous munir des informations suivantes pour vous faciliter la saisie :</p>
    <ul class="bullet">
        <li><strong>Votre numéro de bourse</strong> (présent sur l’avis conditionnel de bourse si vous en avez effectué la demande).</li>
        <li><strong>Votre numéro de sécurité social</strong> (présent sur votre carte VITALE).</li>
        <li><strong>Votre numéro d’étudiant paris 8</strong> (présent sur votre dernière carte étudiant paris 8 si vous avez déjà été inscrit à l’Université Paris 8).</li>
        <li><strong>Votre numéro INE / BEA</strong> (présent sur n’importe quelle carte étudiant si vous vous êtes inscrit après 1995 dans un établissement public d’enseignement supérieur universitaire français ou sur votre relevé de notes du bac, si vous l’avez obtenu après 1995).</li>
</ul>

<h5>
<strong>2. RESPONSABILITE</strong>
</h5>
<p>
<strong>
Vous vous engagez à fournir des informations authentiques et complètes.
<br>
</strong>
La communication de ces informations est la condition nécessaire au bon déroulement de votre inscription. Les documents officiels attestant des informations que vous nous aurez communiquées pourront vous être demandés.
</p>
<p>
A la fin de votre saisie en ligne, un compte personnel IED sera créé ; il vous est strictement personnel et vous vous interdisez de le partager ou de le céder à qui que ce soit. Cela constitue une obligation essentielle de ce contrat.
<strong>Vous devrez, en conséquence, disposer d’une adresse électronique STRICTEMENT PERSONNELLE afin de créer votre compte personnel IED.</strong>
</p>
<p>
Vous êtes responsable de la conservation du caractère confidentiel de votre mot de passe et des opérations qui sont effectuées sous votre compte avec ce mot de passe :
<strong>si vous ouvrez une session sur un ordinateur public, veillez à bien fermer cette session
    lorsque vous quittez l’ordinateur en cliquant sur Déconnexion en haut à droite de votre espace personnel.
    Ne communiquez votre mot de passe à personne.</strong>
</p>
<h5>
<strong>3. INSCRIPTION UNIVERSITAIRE</strong>
</h5>
<br>
<h5>Validation de votre inscription</h5>
<p>La saisie en ligne des éléments renseignant ce dossier n'équivaut pas à une inscription ;
    seule la réception de la carte d'étudiant, à votre domicile, attestera de votre inscription administrative universitaire.</p>
<h5>Accès à Internet obligatoire</h5>
<p>L’encadrement des travaux d’étudiants et le suivi des activités et de l’actualité de l’IED mais aussi les échanges
    entre étudiants et enseignants (courriels, forums, chat,…), comme les échanges entre les étudiants d’un même cursus,
    nécessitent un accès régulier à Internet.</p>
<p>
Tous les cours et supports pédagogiques sont diffusés
<strong>exclusivement en ligne.</strong>
<strong>Il est donc impératif que vous disposiez d’un ordinateur et d’un accès à Internet durant toute votre scolarité à l’IED.</strong>
</p>













