 Bonjour,

Vous recevez ce courriel suite à la demande de réinitialisation du mot de passe de votre compte effectuée à partir du site de l'Institut d'Enseignement à distance (IED) de Paris 8 {{ domain }}.

{{ user.username }} est l'identifiant associé à votre adresse électronique. Votre identifiant est unique et ne peut être modifié.

Vous pouvez mettre à jour votre mot de passe en cliquant sur le lien ci-dessous ou en le recopiant dans votre navigateur.

{{ protocol}}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}

La mise à jour du mot de passe associé à votre identifiant {{ user.username }} vous permettra d'accéder à votre espace personnel avec le nouveau mot de passe choisi.

S'il s'agit d'une erreur de notre part et que vous n'avez demandé aucune réinitialisation de votre mot de passe sur le site {{ domain }}, merci de ne pas tenir compte de ce courriel.

(*) Ne pas répondre à ce mail.
(*) Ce mail a été envoyé automatiquement.

--
L'Institut d'Enseignement à Distance de Paris 8
