{% extends "base.html" %}
{% load floppyforms %}
{% block content %}
    <form class="form-horizontal" method="post" action="">{% csrf_token %}
    {% form form %}
    <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
        <a href="/" class="btn btn-default">Retour</a>
        <input id="submit-id-enregistrer" class="btn btn-primary btn-success register" type="submit" value="Valider" name="Enregistrer" style="display: inline-block;">
            </div>
    </div>
    </form>
{#    {{ form.media }}#}
{% endblock %}
