{% extends "base.html" %}
{% block content %}

{% if validlink %}
    <h3 class="page-header">Mise à jour du mot de passe</h3>
<form class="form-horizontal" method="post" action="" id="id_form">
	{% csrf_token %}
{% for field in form %}
    <div class="control-group">
        <label class="control-label">{{ field.label }}</label>
        <div class="controls">
        {{ field }}
         </div>
    </div>

{% endfor %}

    <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Mise à jour" />
    </div>
</form>

{% else %}
<h3>Erreur interne detectée</h3>
<p>
Une erreur a été constatée et notée par nos systèmes de surveillance et sera corrigée dans les plus brefs délais.</p>
<p>Veuillez nous excuser pour ce contre-temps.</p>
Vous allez être redirigé dans quelques secondes.
{% block meta %}{% if not validlink %}<meta http-equiv="Refresh" content="10; URL=/">{% endif %}{% endblock %}

{% endif %}
<script>
$(document).ready(function(){
    $('#id_form').validate({
        rules:{
            'new_password1':{
                required:true
            },
            'new_password2':{
                required:true
            }
        }
    });
});
</script>
{% endblock %}