{% extends "base.html" %}
{% block content %}

<div class="field">
	<form class="form-horizontal" method="post" action="">
		{% csrf_token %}
		<div class="control-group">
		<label class="control-label">Ancien mot de passe</label>

		{{ form.old_password }}
		</div> 
		<div class="control-group">
		<label class="control-label">Nouveau mot de passe</label>
		{{ form.new_password1 }}
		</div>
		<div class="control-group">
		<label class="control-label">Nouveau mot de passe (de nouveau)</label>
		{{ form.new_password2 }}
		</div>
		<br />
		<div class="form-actions">
		<input class="btn btn-primary" type="submit" value="Enregistrer">
		</div>
	</form>
</div>
{% endblock %}
