<div>
<label style="display: inline; padding-right: 20px;" for="{{ day_id }}">Jour : </label>

    <select  class="form-control"  name="{{ day_field }}" id="{{ day_id }}"{% include "floppyforms/attrs.html" %}>{% for option in day_choices %}
	<option value="{{ option.0 }}"{% if option.0 == day_val %} selected="selected"{% endif %}>{{ option.1 }}</option>{% endfor %}
</select>
</div>
<div>
    <label style="display: inline; padding-right: 20px;" for="{{ month_id }}">Mois : </label>
<select  class="form-control"  name="{{ month_field }}" id="{{ month_id }}"{% include "floppyforms/attrs.html" %}>
    {% for option in month_choices %}
    <option value="{{ option.0 }}"{% if option.0 == month_val %} selected="selected"{% endif %}>{{ option.1 }}</option>{% endfor %}
</select>
</div>
<div>
    <label  style="display: inline; padding-right: 10px;" for="{{ year_id }}">Année : </label>
<select class="form-control" name="{{ year_field }}" id="{{ year_id }}"{% include "floppyforms/attrs.html" %}>{% for option in year_choices %}
    <option value="{{ option.0 }}"{% if option.0 == year_val %} selected="selected"{% endif %}>{{ option.1 }}</option>{% endfor %}
</select>
</div>
